{% extends 'base.html' %} {% block content%}
<!-- Header End -->
<!-- Include Bootstrap CSS -->
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
<!-- Contact Start -->
<div class="container-xxl py-5">
  <div class="container">
    <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
      Contact For Any Query
    </h1>
    <div class="row g-4">
      <div class="col-12">
        <div class="row gy-4">
          <div class="col-md-4 wow fadeIn" data-wow-delay="0.1s">
            <div class="d-flex align-items-center bg-light rounded p-4">
              <div
                class="bg-white border rounded d-flex flex-shrink-0 align-items-center justify-content-center me-3"
                style="width: 45px; height: 45px"
              >
                <i class="fa fa-map-marker-alt text-primary"></i>
              </div>
              <span>University Rd, Makerere, UG</span>
            </div>
          </div>
          <div class="col-md-4 wow fadeIn" data-wow-delay="0.3s">
            <div class="d-flex align-items-center bg-light rounded p-4">
              <div
                class="bg-white border rounded d-flex flex-shrink-0 align-items-center justify-content-center me-3"
                style="width: 45px; height: 45px"
              >
                <i class="fa fa-envelope-open text-primary"></i>
              </div>
              <span>info@example.com</span>
            </div>
          </div>
          <div class="col-md-4 wow fadeIn" data-wow-delay="0.5s">
            <div class="d-flex align-items-center bg-light rounded p-4">
              <div
                class="bg-white border rounded d-flex flex-shrink-0 align-items-center justify-content-center me-3"
                style="width: 45px; height: 45px"
              >
                <i class="fa fa-phone-alt text-primary"></i>
              </div>
              <span>+256 784567321</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="wow fadeInUp" data-wow-delay="0.5s">
          <p class="mb-4"></p>
          <form method="POST">
            <div class="row g-3">
              <div class="col-md-6">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Your Name"
                  />
                  <label for="name">Your Name</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Your Email"
                  />
                  <label for="email">Your Email</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="subject"
                    name="subject"
                    placeholder="Subject"
                  />
                  <label for="subject">Subject</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-floating">
                  <textarea
                    class="form-control"
                    placeholder="Leave a message here"
                    id="message"
                    name="message"
                    style="height: 150px"
                  ></textarea>
                  <label for="message">Message</label>
                </div>
              </div>
              <div class="col-12">
                <button class="btn btn-primary w-100 py-3" type="submit">
                  Send Message
                </button>
                {% with messages = get_flashed_messages() %} {% if messages %}
                <div class="alert-container">
                  {% for message in messages %}
                  <div
                    class="alert alert-success alert-dismissible"
                    role="alert"
                  >
                    <button
                      type="button"
                      class="close"
                      data-dismiss="alert"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                  </div>
                  {% endfor %}
                </div>
                {% endif %} {% endwith %}

                <!-- Include Bootstrap JS -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
{% endblock %}