{% extends 'base.html' %} {% block content%}

<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <!-- Add your CSS styling here if needed -->
    <style>
      .job-card {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
      }

      /* Add any additional styling for long texts within the div */
      .job-card p {
        max-height: 100px; /* Adjust the height as needed */
        overflow: hidden;
        text-overflow: ellipsis;
      }
    </style>
  </head>
  <body>
    <h1>Dashboard</h1>
    <div class="container my-5 px-0 z-depth-1">
      <!--Section: Content-->
      <section
        class="text-center text-lg-left white-text grey p-5"
        style="
          background-image: url(https://mdbootstrap.com/img/Photos/Others/background2.jpg);
        "
      >
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-6 offset-md-2">
            <h3 class="font-weight-bold">Only Intern Jobs</h3>

            <h5 class="h5"></h5>

            <p></p>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!--Section: Content-->
    </div>

    {% for job in jobs %}
    <div class="job-card">
      <h3>{{ job.title }}</h3>
      <p><strong>Company:</strong> {{ job.company_name }}</p>
      <p><strong>Location:</strong> {{ job.location }}</p>
      <p><strong>Date Posted:</strong> {{ job.date_posted }}</p>
      <p><strong>Deadline:</strong> {{ job.deadline_date }}</p>
      <p><strong>Job Type:</strong> {{ job.job_type }}</p>
      <h4>Description:</h4>
      <p>{{ job.description }}</p>
      <h4>Requirement:</h4>
      <p>{{ job.requirement }}</p>
      {% if current_user.is_authenticated %}
      <a
        class="btn btn-primary"
        href="{{ url_for('authentication_blueprint.job_application_form') }}"
        >Apply Now</a
      >
      {% else %}
      <a
        class="btn btn-primary"
        href="{{ url_for('authentication_blueprint.register') }}"
        >Apply Now</a
      >
      {% endif %}
    </div>
    {% endfor %}
  </body>
</html>

{% endblock %}
