{% extends "layouts/base.html" %}{% block title %} post job{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Post A New Job</title>
    <!-- Include jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Include Bootstrap JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>

  </head>
  <body>
<h1>Post A New Internship Job</h1>
<form action="" method="POST">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required /><br />

    <label for="date_posted">Date Posted:</label>
    <input type="date" id="date_posted" name="date_posted" required /><br />

    <label for="deadline_date">Deadline Date:</label>
    <input type="date" id="deadline_date" name="deadline_date" required /><br />

    <label for="description">Description:</label><br />
    <textarea id="description" name="description" rows="4" cols="50" required></textarea><br />

    <label for="company_name">Company Name:</label>
    <input type="text" id="company_name" name="company_name" required><br>

    <label for="location">Location:</label>
    <input type="text" id="location" name="location" required><br>

    <label for="requirement">Requirement:</label><br />
    <textarea id="requirement" name="requirement" rows="4" cols="50" required></textarea><br />

    <label for="job_type">Job Type:</label>
    <select id="job_type" name="job_type" required>
        <option value="Internship">Internship</option>
    </select><br>

    <input type="submit" value="Submit" />
</form>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/js/plugins/chartjs.min.js"></script>

{% endblock javascripts %}
</div>